.footer {
    background: #04a554;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    p {
        color: #effdf9;
    }

    a {
        color: #effdf9;
    }
}