@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;

    &:focus {
        outline: 0;
    }
}

body {
    background: #effdf9;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}